@import url('https://fonts.googleapis.com/css2?family=Inter&family=Nunito&display=swap');

* {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    outline: none;
}

body, html {
    /* width: 100%; */
    height: 100%;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
  cursor: pointer;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading {
    border: 5px solid #ccc;
    border-top: 5px solid #000;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    animation: loading .5s linear infinite;
}